@font-face {
  font-family: "din_regular";
  src: url('https://web3camp.us/din_regular.otf');
}
@font-face {
    font-family: "AdobeGurmukhi-Bold";
    src: url("https://web3camp.us/AdobeGurmukhi-Bold.otf");
}
@font-face {
    font-family: "PingFang-SC-Regular";
    src: url("https://web3camp.us/PingFang-SC-Regular.ttf");
}
@font-face {
    font-family: "PingFang-Medium";
    src: url("https://web3camp.us/PingFang-Medium.otf");
}

@font-face {
  font-family: "din_medium";
  src: url('https://web3camp.us/din_medium.otf');
}

@font-face {
  font-family: "din_bold";
  src: url('https://web3camp.us/din_bold.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  background: #fff;
  color: #666666;
}
* {
  padding: 0;
  margin: 0;
font-family: "PingFang-SC-Regular";
}

a{
  text-decoration: none;
  color: #666666;
}
a:hover{
    color: purple;
  }

ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
.btn-flat {
  background-color: purple;
  color: white;
}
.btn-flat:focus{
   outline: none;
 }
.btn-flat:hover{
   background: #000;
   color: white;
 }
.spinner-primary{
  color: purple;
}
.backgroun-gray{
    background: #f8f8f8;
}
.form-check-input:checked {
  background-color: purple;
  border-color: purple;
}
.form-check-input:focus{
   outline: none;
   border-color: #ccc;
 }
.header{
    box-shadow: 0 0 5px #ccc;
    padding:45px 0;
}
.headerTxt{
    font-family: "din_bold";
    font-size: 32px;
    text-transform: uppercase;
}
.headetRht{
    text-align: right;
    font-size: 12px;
    padding-top: 20px;
}